<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintence  website</title>
    </head>
    <body>
         <h1>Maintenance Page</h1
            <p>Under Maintenance will back soon</p>

           {{> footer}}
    </body>
</html>